{
    "root": true,
    "parser": "@typescript-eslint/parser",
    "plugins": [
      "@typescript-eslint",
      "prettier"  ],
    "extends": [
      "eslint:recommended",
      "plugin:@typescript-eslint/eslint-recommended",
      "plugin:@typescript-eslint/recommended",
      "prettier"  ],
      "ignorePatterns": ["**/tests/*.test.*"],
    "rules": {
      "no-unused-vars":1,
      "@typescript-eslint/no-unused-vars": 1,
      "@typescript-eslint/no-explicit-any": 1, 
      "no-console": 1,       // Means warning
      "prettier/prettier": 0 // Means error  }
  }
  
  
}
