{
    "semi": true,
    "trailingComma": "none",
    "printWidth": 80,
    "tabWidth": 4,
    "singleQuote": false,
    "filepath": "src/**/*.{js,jsx,ts,tsx,json,css,scss,md}",
    "bracketSpacing": true,
    "embeddedLanguageFormatting": "auto"

}