[Desktop Entry]
Categories=Network;VideoConference
Comment[en_US]=A small gui application that let set and use rtsp stream form any computer
Comment= A small gui application that let set and use rtsp stream form any computer
Exec=~/.local/bin/MagicEye/MagicEye.py %U
GenericName[en_US]=
GenericName=
Icon=/path/to/icon
MimeType=
Name[en_US]=MagicEye
Name=MagicEye
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-DBUS-ServiceName=
X-DBUS-StartupType=
X-KDE-SubstituteUID=false
X-KDE-Username=
