[Desktop Entry]
Comment[en_US]=
Comment=
Exec=~/.local/bin/camip.py %U
GenericName[en_US]=
GenericName=
Icon=/path/to/icon
MimeType=
Name[en_US]=Camip
Name=Camip
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-DBUS-ServiceName=
X-DBUS-StartupType=
X-KDE-SubstituteUID=false
X-KDE-Username=
